<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Lista de Marcas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let marca of marcas">
      <ion-label>
        {{ marca.nome }}
      </ion-label>
      <ion-icon
        name="create"
        slot="end"
        [routerLink]="['../edicao', marca.id]"
      ></ion-icon>
      <ion-icon name="trash" slot="end" (click)="remove(marca)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['../cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
