.dashboard-page {
  .main-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    // Estilos adicionais para o card principal
  }

  .secondary-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .secondary-card {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      // Estilos adicionais para os cards secundários
    }
  }
}
